.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Yq556PvPjGii);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.navigationBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 96px;
  min-width: 0;
}
.text__qzkov {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  text-align: center;
  margin-top: 24px;
  min-width: 0;
}
.suparecordsall:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___0CQmX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rIJcc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__m0FtE {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__m0FtE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__m0FtE > :global(.__wab_flex-container) > *,
.freeBox__m0FtE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m0FtE > :global(.__wab_flex-container) > picture > img,
.freeBox__m0FtE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.formField:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__gDti:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  background: #000000;
}
.text___4CVul {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hIpci {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jJh8M {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__ktf9H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wnnSf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xtt5F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
